.paymenu a:hover, a:focus {
	color: #000000 !important;
}

.nav-pills, .nav-pills .show>.nav-link, a:hover, a:focus{
  color: #000 !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  color: #fff !important;
  background-color: #dfa974 !important;
}
